._directive_-yua-post
  .yua-post
    box-shadow 1px 2px 10px rgba(0 0 0 .5)
    .header
      $header-background-color = rgba(200 160 200 .5)
      padding 10px 20px
      background-color $header-background-color
      border-bottom 3px solid darken($header-background-color, 30%)
      .time
        font-family 'Miso Light'
        font-size 1.2em
    .body
      padding 15px