div._directive_-yua-post
    div.yua-post
        div.header(layout='row', layout-align='start center')
            div.title(ng-bind-html='ctrl.post.title')
            div(flex)
            div.time(ng-bind-html='ctrl.post.time')
        div.body
            div.content(ng-bind-html='ctrl.post.content')
        //div.footer
        //    div.meta META