._directive_-yua-post
  .yua-post
    box-shadow 1px 2px 15px rgba(0 0 0 .3)
    border 1px solid #ccc
    color #333
    .header
      $header-background-color = rgba(230 240 250 .8)
      padding 10px 20px
      background-color $header-background-color
      border-bottom 3px solid darken($header-background-color, 30%)
      .title
        font-size 1.3em
        font-weight bold
      .time
        font-family 'Miso Light'
        font-size 1.2em
    .body
      padding 15px

      a
        text-decoration none
        color #4590c6
        transition color .3s
        font-weight bold
        margin 0 3px
        &:hover
          color #b72620

      hr
        border none
        border-bottom 1px dashed #ccc

      img
        max-width 100%
        height auto
        padding 2px
        box-sizing border-box
        background #ddd
        box-shadow 0 0 2px rgba(0 0 0 .5)
        transition background .3s, transform .3s, padding .3s, box-shadow .3s
        border 0 solid
        &:hover
          background #fa806b
          transform rotate(-1deg)
          padding 4px
          box-shadow 0 0 10px #fa806b

      code
        background #eee
        color #b03215
        padding 2px 5px
        margin 0 2px
        border-radius 3px
        word-break break-word

      pre
        margin 0 -15px 0 -20px
        border-left 5px solid #54a2ff
        border-radius 3px 0 0 3px

        code
          border-radius 0
          background url("/assets/images/bg.gif")
          padding 15px
          color #555