._state_home
  .left-sidebar
    background rgba(255 255 255 .5)
    box-shadow 1px 2px 10px rgba(0 0 0 .3)
    padding 20px 10px
    width 200px
    z-index 20
    .master-info
      .avatar
        width 60%
        max-height 100%
        border-radius 50%
        margin 10px 0
        box-shadow 0 0 5px rgba(0 0 0 .3)
      .name
        font-family 'Miso Light'
        font-size 1.5em
        font-weight bold
      .links
        margin 10px 0
        .md-button
          font-size 1.3em
    .nav-block
      margin 20px -10px 0 -20px
      text-align right
      .nav-title
        font-size 1.3em
        padding 5px 20px
        margin 10px 0
        transform rotate(-10deg)
        border-bottom 1px solid #ccc
      .nav-item
        font-size 1.1em
        padding 5px 20px
        transform rotate(-10deg)
        a
          display block
          transition margin-right .3s
          &:hover
            margin-right -10px
    .copyright-info
      text-align center
      font-family 'Miso Light'
      font-size 1.2em
      > div
        margin 2px 0
  .home-header
    padding 10px 20px
    background rgba(255 255 255 .8)
    box-shadow 4px 0 10px rgba(0 0 0 .3)
    position fixed
    top 0
    left 200px
    right 0
    z-index 10
    .title
      font-size 1.3em
    .desc
      font-family 'Microsoft YaHei', sans-serif
      color #888
  .home-body
    padding-top 25px
    margin 25px

  .right-sidebar
    margin 60px 0 0 0
    .item-block
      margin 20px 0
      box-shadow 1px 2px 10px rgba(0, 0, 0, .5)
      a
        display block
        text-decoration none
        border 1px solid #bbb
        padding 3px
        background #fff
        transition background .3s
        &:hover
          background #ffc978
      img
        display block
        width 180px
        max-width 100%
        height auto
        margin 0

  @media(max-width 640px)
    .left-sidebar
      display none
    .home-header
      left 0
  @media(max-width 960px)
    .right-sidebar
      display none