/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  stylus dependencies when defined in the bower.json of your dependencies
 */
// bower:styl
// endbower

@font-face
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
          local('MaterialIcons-Regular'),
          url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
          url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
          url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');

@font-face
  font-family: 'Miso Light'
  font-style: normal
  font-weight: normal
  src: url(../assets/fonts/miso-light/miso-light.eot?) format("eot"),
          url(../assets/fonts/miso-light/miso-light.woff) format("woff"),
          url(../assets/fonts/miso-light/miso-light.ttf) format("truetype"),
          url(../assets/fonts/miso-light/miso-light.svg#Miso-Light) format("svg")

.font-miso-light
  font-family: 'Miso Light'

.material-icons
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

html
  font-family 'Microsoft YaHei Light', 'Microsoft YaHei', sans-serif
  font-size 14px

body
  background rgb(240 240 240)

a
  text-decoration none
  color #333
  transition color .3s
  &:hover
    color #b72620

[layout=row]
  flex-direction row

.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

::-webkit-scrollbar-track
  background-color #eee

::-webkit-scrollbar
  width 4px
  height 8px
  background-color #eee

::-webkit-scrollbar-thumb
  border-radius 3px
  background-color #ccc

*::selection
  background-color transparent;
  color #d5000e

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your stylus files automatically
 */
// injector
// endinjector
